@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	background-color: #1e2327;
	color: #f7f5f5;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

.mainfoto{ 
	width: 90px;
}

.info h1{
	letter-spacing: 8px;
	word-spacing: 10px;
}

.container{
	max-width: 90%;
	margin: auto;
}
